.d-block {
    height: 500px;
}

.profilePic {
    height: 400px;
    width: 400px;
}

.pageWrapper {
    background-image: url(/images/landscape2.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}

h3, h1, h6 {
    color: white;
}

  
.personalWrapper {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}

#homeJumbo {
    background-image: url(/images/profyle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 700px
}

